@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

.App {
  width: 60%;
  margin: auto;
}

#title{
  text-align: center;
  font-family: 'Source Sans Pro';
  font-size: 3rem;
}

